@import url(root.css);
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;700&family=Sunflower:wght@300;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none !important;
    box-sizing: border-box;
    transition: all linear 300ms;
}

.ff {
    font-family: 'Space Grotesk', sans-serif;
    font-family: 'Sunflower', sans-serif;
}

/* header */
.container {
    max-width: 1140px !important;
}

.page-image {
    background-image: url("../image/Vertical.png"), url("../image/horizontal.png");
    background-size: cover;
    background-repeat: no-repeat;

}

.section-image {
    background-image: url("../image/background.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

.gap-40 {
    gap: 40px;
}

.btn-nav-connect {
    border-radius: 82px;
    padding: 12px 32px;
    border: 1px solid white;
    transition: .3s;
}

.btn-nav-get {
    padding: 12px 24px;
    border-radius: 82px;
    border: 1px solid white;
    transition: .3s;
}

.btn-nav-get:hover .arrow>svg path {
    fill: black;
    transition: .3s;
}

.btn-nav-read {
    border-radius: 82px;
    padding: 12px 32px;
    border: 1px solid var(--White, #FFF);
}

.f-main-small {
    max-width: 515px;
}

.pt-119 {
    padding-top: 119px;
}

.pt-77 {
    padding-top: 77px;
}

.pt-15 {
    padding-top: 15px;
}

.pb-117 {
    padding-bottom: 117px;
}

.pb-77 {
    padding-bottom: 77px;
}

.nav-card {
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(255, 255, 255, 0.10);
    box-shadow: 0px -1px 20px 0px rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(15px);
    padding: 16px;
    gap: 15px;
    max-width: 297px;
}

.p-absolute {
    position: absolute;
    top: 20px;
    right: 5px;
}

nav ul li a {
    position: relative;
}

nav ul li a::before {
    content: '';
    width: 0;
    height: 1px;
    background-color: #FFF;
    position: absolute;
    left: 50%;
    bottom: -2%;
    transition: .3s;
}

nav ul li a:hover::before {
    width: 100%;
    left: 0;
}

.ellipes1 {
    background: #FFF;
    filter: blur(124px);
    width: 184px;
    height: 184px;
    flex-shrink: 0;
    position: absolute;
    top: 0;
    left: -2%;
    display: none;
}

.mb-150 {
    margin-bottom: 150px;
}

.web-line::before {
    content: '';
    width: 154px;
    height: 2px;
    transform: rotate(-3.516deg);
    color: #FFF;
    background-color: #FFF;
    position: absolute;
    top: 81%;
    right: 44%;
    display: none;
}

.web-line::after {
    content: '';
    width: 154px;
    height: 2px;
    transform: rotate(-3.516deg);
    color: #FFF;
    background-color: #FFF;
    position: absolute;
    top: 97%;
    left: 25%;
    display: none;
}

.arrow-1 {
    display: none;
}

/* 1st section */
.f-card {
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(255, 255, 255, 0.10);
    box-shadow: 0px -1px 20px 0px rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(15px);
    padding: 16px;
    gap: 15px;
}

.btn-view {
    border-radius: 82px;
    border: 2px solid #FFF;
    padding: 12px 32px;
}

.line-1::before {
    content: '';
    width: 319px;
    height: 2px;
    transform: rotate(-4.516deg);
    color: #FFF;
    background-color: #FFF;
    position: absolute;
    top: 157px;
    left: 501px;
    display: none;
}

.line-1::after {
    content: '';
    width: 354px;
    height: 2px;
    transform: rotate(-4.516deg);
    color: #FFF;
    background-color: #FFF;
    position: absolute;
    top: 75px;
    left: 600px;
    display: none;
}

.pb-xl-35 {
    padding-bottom: 35px;
}

.ellipes2 {
    background: #FFF;
    filter: blur(124px);
    width: 182px;
    height: 182px;
    flex-shrink: 0;
    position: absolute;
    top: 90%;
    right: 3%;
    display: none;
}

/* 2nd section */
.j-card {
    border-radius: 12px;
    gap: 20px;
    padding: 20px;
}

.j-card:hover {
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    background: rgba(255, 255, 255, 0.10);
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(8px);
}
.line-2::before {
    content: '';
    width: 300px;
    height: 2px;
    transform: rotate(-4.516deg);
    color: #FFF;
    background-color: #FFF;
    position: absolute;
    top: 10%;
    left: 41%;
    display: none;
}
.line-2::after {
    content: '';
    width: 300px;
    height: 2px;
    transform: rotate(-4.516deg);
    color: #FFF;
    background-color: #FFF;
    position: absolute;
    top: 29%;
    left: 34%;
    display: none;
}
.pb-50{
    padding-bottom: 50px;
}
.moon-circle {
    width: 73px !important;
    height: 74px;
    flex-shrink: 0;
    color: transparent;
    border-radius: 50%;
    position: absolute;
    top: -11%;
    right: 0;
    transition: .3s;
    opacity: 0;
    pointer-events: none;
}

.moon-hover:hover .moon-circle {
    background-color: #FFF;
    color: #FFF;
    opacity: 1;
}

.pt-75 {
    padding-top: 75px;
}

.pb-104 {
    padding-bottom: 104px;
}

.ellipes3 {
    background: #FFF;
    filter: blur(124px);
    width: 182px;
    height: 182px;
    flex-shrink: 0;
    position: absolute;
    top: 90%;
    left: -16%;
    display: none;
}

p {

    margin-bottom: unset !important;
}

/* 3rd section */
.f-sec-img {
    background-image: unset;
    background-color: #FFF;
    background-size: cover;
    background-repeat: no-repeat;
}

.f-sec-massa {
    max-width: 532px;
    margin-left: auto;
    margin-right: auto;
}

.line-3::before {
    content: '';
    width: 300px;
    height: 2px;
    transform: rotate(-4.516deg);
    color: #000;
    background-color: #000;
    position: absolute;
    top: 15%;
    left: 40%;
    display: none;
}

.line-3::after {
    content: '';
    width: 300px;
    height: 2px;
    transform: rotate(-4.516deg);
    color: #000;
    background-color: #000;
    position: absolute;
    top: 23%;
    left: 34%;
    display: none;
}

.f-transperent {
    border-radius: 0px 0px 8px 8px;
    background: rgba(255, 255, 255, 0.30);
    box-shadow: 0px -1px 11px 0px rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(4.5px);
    flex-shrink: 0;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
}

.group:hover {
    transform: scale(100%, 100%);
    z-index: 3;
    transition: .3s;
}

.group:hover>div {
    opacity: 1;
}

.btn-view-project {
    border-radius: 82px;
    border: 1px solid var(--Black, #040404);
    display: inline-flex;
    padding: 12px 32px;
    align-items: flex-start;
    gap: 10px;
}

.mb-100 {
    margin-bottom: 100px;
}

.pt-123 {
    padding-top: 123px;
}

.pt-20 {
    padding-top: 20px;
}

.pt-53 {
    padding-top: 53px;
}

/* footer */
.f-footer-img {
    border-radius: 8px;
    border: none;
}

.f-footer-img:hover {
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: url(<path-to-image>), cover no-repeat;
    box-shadow: 0px 4px 15px 0px rgba(255, 255, 255, 0.10);
}

.line-4::before {
    content: '';
    width: 300px;
    height: 2px;
    transform: rotate(-4.516deg);
    color: #FFF;
    background-color: #FFF;
    position: absolute;
    top: 4%;
    left: 41%;
    display: none;
}

.line-4::after {
    content: '';
    width: 300px;
    height: 2px;
    transform: rotate(-4.516deg);
    color: #FFF;
    background-color: #FFF;
    position: absolute;
    top: 13%;
    left: 35%;
    display: none;
}

.f-footer-eros {
    max-width: 570px;
    margin-left: auto;
    margin-right: auto;
}
.col-lg-4{
    padding-left: 8px !important;
    padding-right: 8px !important;
}
.gap-24 {
    gap: 24px;
}

.pt-173 {
    padding-top: 173px;
}
ul{
    padding-left: 0 !important;
}

.f-footer-end {
    border-top: 1px solid #fff;
}

.bottem-line:after {
    content: '';
    max-width: 1440px;
    height: 1px;
    left: 35%;
    background: var(--White, #FFF);
}

.ellipes4 {
    background: #FFF;
    filter: blur(124px);
    width: 184px;
    height: 184px;
    flex-shrink: 0;
    position: absolute;
    top: 0;
    right: 1%;
    display: none;
}

@media (max-width:992px) {
    label[id="navicon"] {
        width: 30px;
        height: 24px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        z-index: 5;
        
        right: 5%;

    }

    label[id="navicon"]>span {
        width: 100%;
        height: 5px;
        background: #FFF;

    }

    .mobile-view {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        top: 0%;
        position: fixed;
        left: -100%;
        opacity: 1;
        width: 100%;
        height: 100%;
        z-index: 3;
        background: black;
    }

    .nav-left {
        left: 0;
    }
}

@media (min-width:992px) {
    .web-line::before {
        display: flex;
    }

    .web-line::after {
        display: flex;
    }

    .line-1::before {
        display: flex;
    }

    .line-1::after {
        display: flex;
    }

    .line-2::before {
        display: flex;
    }

    .line-2::after {
        display: flex;
    }

    .line-3::before {
        display: flex;
    }

    .line-3::after {
        display: flex;
    }

    .line-4::before {
        display: flex;
    }

    .line-4::after {
        display: flex;
    }

    .ellipes1 {
        display: flex;
    }

    .ellipes2 {
        display: flex;
    }

    .ellipes3 {
        display: flex;
    }

    .ellipes4 {
        display: flex;
    }

    .arrow-1 {
        display: flex;
    }
}

@media (min-width:768px) {
    .pt-md-77 {
        padding-top: 77px;
    }

    .pt-md-119 {
        padding-top: 119px;
    }

    .pb-md-117 {
        padding-bottom: 117px;
    }

    .mb-md-100 {
        margin-bottom: 100px;
    }
}
@media (min-width:576px ) {.f-sec-img {
    background-image: url(../image/white.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: unset;
}
.pt-135{
    padding-top: 135px;
}
}

@media (min-width:320px) {

    .pt-75{
        padding-top: 0;
    }
    .mb-150{
        margin-bottom: 50px;
    }
    .group:hover {
        transform: scale(120%, 110%);
        z-index: 3;
        transition: .3s;
    }
}